/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1F454E;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
    /* padding: 1rem; */
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Main Content */

main {
    background-color: #F1DDC5;
    margin-top: 150px;
    flex: 1 0 auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.png) no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(104, 122, 97, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 20px;
    padding-left: 15px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

/* Kemetic Yoga section */

#gen-info,
#gen-info h2,
#gen-info h3 {
    background-color: #1F454E;
    color: #ffffff;

}

#gen-info-text {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 30px 10%;
}

#key-points {
    display: flex;
    flex-direction: column;
}

#key-points i {
    text-align: center;
    font-size: 200%;
    padding: 1em 0 0.5em;
    color: #ffffff;
}

#gen-info-video {
    display: flex;
    width: 100%;
}

#schedule {
    margin: 30px 10%;
}

#schedule h2 {
    padding-bottom: 20px;
}

td {
    padding: 2px 5px 2px 0px;
}

/* About me section */
#about-me {
    background-color: #687A61;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ffffff;
}

#about-me>div {
    margin: 30px 10% 0;
}

#about-me h2 {
    color: #ffffff;
}

#about-me img {
    border-radius: 50%;
}

#about-me-text {
    padding-bottom: 30px;
}

#about-me-text p {
    padding: 20px 0 0;
}

/* Reviews section */
#reviews {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#reviews>div,
#reviews h2 {
    margin: 30px 10% 0;
}

#reviews img {
    width: 50%;
    border-radius: 50%;
}

#reviews p {
    padding-top: 20px;
}

/* Footer */
footer {
    background-color: #1F454E;
    color: #F2EDDB;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}