@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Yeseva+One&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

#logo {
    font-family: "Yeseva One", sans-serif;
    letter-spacing: 2px;
    color: #1F454E;
}

.headings {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #1F454E;
}

.section-gaps {
    padding: 30px 10%;
}

/* Header */
header {
    background-color: #F1DDC5;
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

header i {
    color: #1F454E;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    margin-top: 20px;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toogle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */

main {
    background-color: #F1DDC5;
    flex: 1 0 auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.png) no-repeat center center/cover;
    position: relative;
}

.cover-text-1 {
    background-color: rgba(104, 122, 97, .7);
    font-size: 130%;
    position: absolute;
    top: 75px;
    width: 90%;
    min-height: 60px;
    padding: 12px 5%;
}

.cover-text-2 {
    background-color: rgba(104, 122, 97, .7);
    font-size: 130%;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    padding: 20px 5%;
}

.cover-text-1>h2,
.cover-text-2>h3 {
    color: #ffffff;
}

/* Kemetic Yoga section */
.container-ky {
    background-color: #1F454E;
    width: 100%;
    color: #ffffff;
}

.container-ky h2,
.container-ky h3 {
    color: #ffffff;
}

.container-ky p {
    padding-top: .7em;
}

.key-points-left i,
.key-points-right i {
    font-size: 200%;
    padding: 1em 0 0.5em;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

iframe {
    border: none;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#schedule h2 {
    padding-bottom: 20px;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table th,
.table td {
    text-align: left;
}

table {
    align-self: center;
    padding: 2px;
    border: 2px solid #1F454E;
}

.table-positioning {
    padding-left: 2px;
}

td {
    padding: 2px 0;
}

/* About me section */
#about-me {
    background-color: #687A61;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ffffff;
}

#about-me h2 {
    color: #ffffff;
}

#about-me img {
    border-radius: 50%;
    margin-bottom: 30px;
}

#about-me-text p {
    padding: 20px 0 0;
}

/* Reviews section */
#reviews {
    display: flex;
    flex-direction: column;
}

#reviews img {
    width: 50%;
    border-radius: 50%;
    padding: 30px 0 20px;
}

/* Join the tribe section */
#join {
    background-color: #ffffff;
}

#join-form h2 {
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 80%;
    height: 25px;
    margin: 5px 0 20px 0;
    padding: 0 5px;
    border: 2px solid #1F454E;
    border-radius: 5px;
}

.class-checkbox {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.join-button {
    border-radius: 5px;
    background-color: #1F454E;
    color: #fafafa;
    font-size: 100%;
    margin-top: 20px;
    padding: 8px 32px;
}

/* Footer */
footer {
    background-color: #1F454E;
    color: #F2EDDB;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        display: block;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        max-height: 52px;
        background-color: #F1DDC5;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        margin-top: 126px;
    }

    .section-gaps {
        padding: 60px 7.5%;
    }

    /* Hero */
    .cover-text-1 {
        width: 40%;
        top: 60px;
        padding: 12px 2.5% 0;
    }

    .cover-text-2 {
        width: 40%;
        top: 120px;
        bottom: 380px;
        padding: 0 2.5% 12px;
    }

    /* Kemetic Yoga section */
    .key-points-left,
    .key-points-right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .key-points-left>div,
    .key-points-right>div {
        width: 75%;
    }

    .key-points-left>div,
    .key-points-left h3,
    .key-points-left p {
        text-align: start;
        align-self: flex-start;
    }

    .key-points-right>div,
    .key-points-right h3,
    .key-points-right p {
        text-align: end;
        align-self: flex-end;
    }

    .key-points-left i,
    .key-points-right i {
        font-size: 240%;
    }

    /* Schedule section */
    table {
        padding: 4px;
    }

    .table-positioning {
        padding-left: 20px;
    }

    /* About me section */
    #about-me img {
        width: 50%;
    }

    /* Reviews section */
    #reviews img {
        width: 40%;
        padding: 45px 0 30px;
    }

    /* Media query for Laptops and desktops (992px and up) */
    @media screen and (min-width: 992px) {

        /* General styles */
        * {
            text-align: left;
        }

        /* Header */
        header {
            display: flex;
            justify-content: space-between;
        }

        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }

        /* main */
        main {
            margin-top: 72px;
        }

        /* Hero */
        .cover-text-1 {

            top: 60px;
            width: 35%;
            min-height: 60px;
            padding: 12px 5%;
            right: 0;
        }

        .cover-text-2 {
            bottom: 60px;
            top: auto;
            width: 35%;
            max-height: 150px;
            padding: 20px 5%;
            left: 0;
        }

        /* Kemetic Yoga section */

        .key-points-left>div,
        .key-points-right>div {
            width: 60%;
        }

        .key-points-left i,
        .key-points-right i {
            font-size: 300%;
        }

        .video-container {
            background-color: #1F454E;
        }

        iframe {
            padding: 0 7.5% 60px;
        }

        /* Schedule section */

        .table-positioning {
            padding-left: 30px;
        }

        table {
            align-self: flex-start;
        }

        /* About Me section */
        #about-me>.section-gaps {
            padding-right: 0;
        }

        .container-am {
            display: flex;
            flex-direction: row;
        }

        #about-image {
            overflow: hidden;
        }

        #about-me-text {
            order: -1;
            align-self: center;
        }

        #about-me img {
            margin-right: -10%;
            margin-bottom: 0;
            width: 100%;
        }

        /* Reviews section */

        .container-r {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        #reviews h2 {
            display: none;
        }

        #reviews img {
            padding: 0;
            width: 200px;
        }

        #reviews p {
            padding-top: 30px;
        }

        /* Join section */

        .class-checkbox {
            margin: 0;
        }

        .text-input {
            width: 50%;
            height: 45px;
        }

        .join-button {
            border-radius: 5px;
            background-color: #1F454E;
            color: #fafafa;
            font-size: 100%;
            margin-top: 20px;
            padding: 11.5px 45px;
        }
    }
}